################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocsSearchEngine.BusinessLogic/obj
/DocsSearchEngine.Models/bin/Debug/netcoreapp3.1
/DocsSearchEngine.Models/obj/Debug/netcoreapp3.1
/DocsSearchEngine.Models/obj/Release/netcoreapp3.1
/DocsSearchEngine.Agent/obj
/DocsSearchEngine.Agent/bin/Debug/netcoreapp3.1
/DocsSearchEngine/bin/Debug/netcoreapp3.1
/DocsSearchEngine/obj
/DocsSearchEngine/ClientApp/node_modules
/.vs
/DocsSearchEngine.Models/obj
/DocsSearchEngine.BusinessLogic/bin/Debug/netcoreapp3.1
/Tests/DocsSearchEngine/obj
/Tests/DocsSearchEngine.BusinessLogic.Tests/bin/Debug/netcoreapp3.1
/Tests/DocsSearchEngine.BusinessLogic.Tests/obj
/Tests/DocsSearchEngine/bin/Debug/netcoreapp3.1
